@charset "UTF-8";

:root {

    --color0: #000080;
    --color1: #0d52bd;
    --color2: #38acec;
    --color3: #82cafa;

    --font0: Arial, Helvetica, sans-serif;
    --font1: monospace;
}

* {

    margin: 0px;
    padding: 0px;
}

body {

    background-color: var(--color3);
    color: black;
    font-family: var(--font0);
}

header {

    background-color: white;
    min-height: 150px;
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header > img {

    width: 28%;
    height: auto;

    min-width: 300px;
}

nav {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 10px 8px rgba(0, 0, 128, 0.2);

    position: relative;
}

nav > a {

    color: var(--color0);
    font-size: large;
    font-family: var(--font1);
    font-weight: bold;
    padding: 10px;
    transition-duration: 0.3s;
    text-decoration: none;
}

nav > a:hover {

    color: var(--color2);
}

.selected {

    background-color: var(--color1);
    border-radius: 10px;
    color: white;
}

.selected:hover {

    color: white;
}

main {

    background-color: white;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px; 
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 200px;
    max-width: 1200px;

    min-height: 1000px;
}

main p {

    color: black;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.4em;
    text-align: justify;
    text-indent: 40px;
    padding: 20px;
}

.pleft {

    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    margin: 0px 30px 40px 0px;
}

.pright {

    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    margin: 0px 0px 40px 30px;
}

.appsnav {

    background-color: white;
    margin: auto;
    padding: 50px 30px 30px 30px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 200px;
    max-width: 1200px;

    min-height: 1000px;

    position: static;
}

.appop_a {

    border-radius: 30px;
    display: block;
    margin: 0px 0px 30px 0px;
    padding: 0px;

    min-width: 200px;
    max-width: 1200px;
}

.appop_a:hover {

    padding: 7px;
}

.appop {

    display: flex;
    align-items: center;
    
    justify-content: space-evenly;
}

.appop p {

    color: white;
    margin: 0px;
    padding: 10px;
    font-size: 1.25em;
}

.appop img {

    width: 120px;
    margin: 10px;
}

.logoandinfo {

    display: flex;
    align-items: center;

    justify-content: space-between;

    margin: 5px;

    background-color: #3bccff;
    
    border-radius: 30px;
}

.logoandinfo img {

    margin: 10px 20px 10px 10px;

    width: 30%;
    height: auto;
    min-width: 100px;
    max-width: 250px;
}


.logoandinfo p {

    margin: 0px 0px 0px 20px;
    padding: 0px;
    font-size: 1.25em;
    text-indent: 0px;
    font-weight: 900;

    line-height: 45px;

    font-family: monospace;
}

.apptext {

    margin: 40px 10px 10px 10px;
    border-radius: 30px;
    text-indent: 0px;
}

.blueBox {

    font-family: monospace;
    font-weight: bold;
    line-height: 30px;
    background-color: #3bccff;
    margin: 0px 20px 20px 20px;
    border-radius: 30px;
}

main > h1 {

    font-family: monospace;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    margin: 30px 20px 30px 20px;
}

main > h2 {

    font-family: monospace;
    text-align: left;
    font-weight: bold;
    font-size: x-large;
    margin: 40px 0px 20px 20px;
}

.ppparagraph {

    font-family: monospace;
    text-align: justify;
    font-weight: 500;
    font-size: large;
    margin: 5px;
    padding: 10px;
}

footer {

    background-color: var(--color0);
    color: white;
}

@media all and (max-width: 700px) {
    
    header > img {

        width: 20%;
    }

    nav > a {

        font-size: medium;
        padding: 7px;
    }

    main {

        padding-top: 40px;
        padding-bottom: 20px;
    }

    main p {

        font-size: 1em;
        line-height: 1.2em;
        text-indent: 30px;
        padding: 15px;
    }

    .pleft {

        margin: 0px 25px 35px 0px;
    }
    
    .pright {
    
        margin: 0px 0px 35px 25px;
    }

    .appsnav {

        padding: 45px 25px 25px 25px;
    }
    
    .appop_a {
    
        margin: 0px 0px 25px 0px;
    }
    
    .appop_a:hover {
    
        padding: 7px;
    }
    
    .appop p {
    
        padding: 5px;
        font-size: 1.1em;
    }
    
    .appop img {
    
        width: 115px;
        margin: 7px;
    }
    
    .logoandinfo img {
    
        width: 25%;
    }
    
    .logoandinfo p {
    
        margin: 0px 0px 0px 15px;
        font-size: 1em;
        line-height: 30px;
    }
    
    .apptext {
    
        margin: 35px 7px 7px 7px;
    }
    
    .blueBox {
    
        line-height: 25px;
        margin: 0px 15px 15px 15px;
    }
    
    main > h1 {
    
        font-size: x-large;
        margin: 25px 15px 25px 25px;
    }
    
    main > h2 {
    
        font-size: large;
        margin: 35px 0px 15px 15px;
    }
    
    .ppparagraph {
    
        font-size: medium;
        margin: 4px;
        padding: 7px;
    }
}
